*.pem
*.pyc
*.sqlite3
*.swp
.srcflake8
.xcosblocks.txt
__pycache__/
blocks/blocks/*/migrations/*.py
blocks/*/migrations/*.py
blocks/env*/
.DS_Store
.env
scilab-log-*.txt
tags
Xcos/U*.sci
Xcos/*.xml
Xcos/xcosblocks.py
blocks/blocks/xcosblocks/xcosblocks.py
