*.pem
*.pyc
*.sqlite3
*.swp
.srcflake8
.xcosblocks.txt
__pycache__/
blocks/blocks/*/migrations/*.py
blocks/*/migrations/*.py
blocks/env*/
.DS_Store
.env
scilab-log-*.txt
tags
blocks/U*.sci
blocks/*.xml
blocks/xcosblocks.py
blocks/Xcos/xcosblocks.py
blocks/blocks/xcosblocks/xcosblocks.py
blocks/eda-frontend/public/xcos2xml.xsl
blocks/eda-frontend/src/static/xcos2xml.xsl
