**/.dockerignore
**/Dockerfile*
.git*
.travis.yml
env*
*.md
*.pdf
*.pyc
*.sqlite3
*.swp
**/migrations
.DS_Store
**/.env.*
**/build
**/node_modules
tags
.srcflake8
.xcosblocks.txt
scilab-log-*.txt
U*.sci
*.xml
xcosblocks.py
Xcos/xcosblocks.py
blocks/xcosblocks/xcosblocks.py
**/__pycache__
**/__snapshots__
