[flake8]
# default pep8 list
#ignore = E121,E123,E126,E133,E226,E241,E242,E704,W503,W504,W505
# default flake8 list
#ignore = E121,E123,E126,E226,E24,E704,W503,W504
ignore = F401,F403,W504
extend-exclude = docs,env*,migrations,node_modules,Xcos/common,Xcos/blocks,Xcos/ports,Xcos/links
max-complexity = 13
max-line-length = 260
