amqp==5.1.1
asgiref==3.6.0
async-timeout==4.0.2
billiard==4.2.0
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cryptography==42.0.7
defusedxml==0.7.1
Django==4.2.13
django-cors-headers==3.13.0
django-filter==22.1
django-templated-mail==1.1.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
djoser==2.2.2
drf-yasg==1.21.7
flake8==6.0.0
idna==3.7
inflection==0.5.1
kombu==5.3.5
mccabe==0.7.0
oauthlib==3.2.2
packaging==24.1
pillow==10.3.0
prompt-toolkit==3.0.36
pycodestyle==2.10.0
pycparser==2.22
pyflakes==3.0.1
PyJWT==2.8.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python3-openid==3.2.0
pytz==2022.7.1
PyYAML==6.0.1
redis==4.5.4
requests==2.32.2
requests-oauthlib==2.0.0
six==1.16.0
social-auth-app-django==5.4.1
social-auth-core==4.5.4
sqlparse==0.5.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.2
vine==5.1.0
wcwidth==0.2.6
