<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts & CSS -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <style>
        html, body {
            min-height: 100%;
        }

        #submitbtn {
            cursor: pointer;
        }

        .form-box {
            margin-top: 10%;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .error-text {
            color: #e25555;
            margin-top: 20px;
        }
    </style>

    <script>
        function sendResetData() {
            const password = $('#new_password').val();
            const retype = $('#retype_password').val();

            if (password !== retype) {
                $('#error-text').text("Passwords do not match.");
                return;
            }

            $.ajax({
                url: "{{ reset_url }}",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    uid: '{{ uid }}',
                    token: '{{ token }}',
                    new_password: password
                }),
                success: function (data) {
                    window.location.replace('{{ redirect_url }}');
                },
                error: function (err) {
                    console.log(err)
                    $('#error-text').text(err.responseJSON?.new_password?.[0] || err.statusText);
                }
            });
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="row form-box">
            <h3>Reset Your Password</h3>

            <div class="twelve columns">
                <input type="password" id="new_password" placeholder="New Password">
                <input type="password" id="retype_password" placeholder="Retype Password">
                <button class="button-primary" id="submitbtn" onclick="sendResetData();">Reset Password</button>
                <p class="error-text" id="error-text"></p>
            </div>
        </div>
    </div>
</body>

</html>
